/*

orange color:#e67e22


*/


/* ---------------------*/


/*BASIC SETUP*/


/* ---------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #555;
    background-color: white;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* ---------------------*/


/*REUSABLE COMPONENTS*/


/* ---------------------*/

.row {
    margin: 0 auto;
    max-width: 1140px;
}

section {
    padding: 70px 0px;
}


/*------heading--------*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    word-spacing: 3px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 2em;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.8em;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.1em;
    margin: 20px auto;
    text-align: center;
}


/*------paragraph--------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 50px;
}


/*------buttons--------*/

.btn,
input[type=submit] {
    padding: 10px 20px;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
    cursor: pointer;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border-radius: 200px;
    border: 1px #e67e22 solid;
    color: white;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
    border-radius: 200px;
    border: 1px #e67e22 solid;
    margin-left: 30px;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px #b86215 solid;
    background-color: #b86215;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px #b86215 solid;
    background-color: #b86215;
    color: white;
}


/*------checkbox--------*/

.news-checkbox {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

input[type=checkbox] {
    margin-right: 15px;
}

.checkbox-text {
    cursor: auto;
}

input[type=checkbox] {
    visibility: hidden;
}

input[type=checkbox] + label {
    position: absolute;
    height: 28px;
    width: 28px;
    top: 1px;
    left: 1px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

input[type=checkbox] + label:before {
    content: "";
    position: absolute;
    border: 2px solid white;
    height: 5px;
    width: 12px;
    border-bottom-left-radius: 3px;
    border-top: none;
    border-right: none;
    top: 9px;
    left: 7px;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=checkbox]:checked + label:before {
    opacity: 1;
}

input[type=checkbox]:checked + label {
    background-color: #e67e22;
}

.news-checkbox:checked + label {
    background-color: #e67e22;
}


/*------icons--------*/

.icon-big {
    font-size: 2.5em;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
    padding-left: 36%;
}

.icon-small {
    color: #e67e22;
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 1.2em;
    line-height: 120%;
    vertical-align: text-bottom;
    margin-right: 10px;
}


/*------icons--------*/

a:link,
a:visited {
    text-decoration: none;
    color: #e67e22;
}

a:hover,
a:active {
    color: inherit;
    border-bottom: 1px solid #555;
}


/* ---------------------*/


/*LANDING PAGE*/


/* ---------------------*/

header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1140px;
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 140px;
    width: auto;
    float: left;
    margin-top: 40px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 95px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    border-bottom: 1px #e67e22 transparent;
    transition: border-bottom 0.5s, color 0.5s;
    padding: 8px 0px;
}

.main-nav li a:active,
.main-nav li a:hover {
    border-bottom: 1px #e67e22 solid;
    color: #e67e22;
}


/* ---------------------*/


/*FEATURE SECTION*/


/* ---------------------*/

h2:after {
    display: block;
    height: 2px;
    width: 150px;
    background-color: #e67e22;
    content: " ";
    margin: 30px auto;
}

.box-f {
    padding: 1%;
}

.box-f p {
    font-size: 0.9em;
    line-height: 145%;
}


/* ---------------------*/


/*MEAL SHOWCASE SECTION*/


/* ---------------------*/

.meal-section {
    padding: 0;
}

.meal-showcase {
    list-style: none;
    width: 100%;
}

.meal-showcase li {
    float: left;
    width: 25%;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.meal-photo {
    width: 100%;
    margin: 0;
    color: transparent;
    transition: transform 0.5s, opacity 0.5s, color 0.5s, filter 0.5s;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.15);
}

.meal-photo:hover {
    opacity: 0.4;
    transform: scale(1.05);
    color: white;
}


/* ---------------------*/


/*STEP SECTION*/


/* ---------------------*/

.step-section {
    background-color: #ededed;
}

.step-section:first-child {
    text-align: right;
    padding-right: 3%;
}

.step-section:last-child {
    padding-left: 3%;
}

.app-screen {
    width: 35%;
    margin-left: 140px;
}

.row h2 {
    margin-bottom: 65px;
    margin-right: 60px;
}

.work-step {
    margin-bottom: 60px;
}

.work-step:last-of-type {
    margin-bottom: 90px;
}

.work-step div {
    color: #e67e22;
    border: 1px #e67e22 solid;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 7px;
    float: left;
    margin-right: 25px;
    font-size: 1.5em;
}

.btn-app:hover,
.btn-app:active {
    border: 0;
}

.btn-app img {
    height: 50px;
    margin-right: 20px;
}


/* ---------------------*/


/*CITIES SECTION*/


/* ---------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.city-feature {
    margin-bottom: 10px;
}

.city-feature a:link,
.city-feature a:visited {
    border-bottom: 1px solid #e67e22;
    padding-bottom: 3px;
    transition: border-bottom 0.5s, color 0.5s;
}

.city-feature a:hover,
.city-feature a:active {
    border-bottom: 1px solid transparent;
}


/* ---------------------*/


/*TESTIMONIALS SECTION*/


/* ---------------------*/

.testimonial-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
}

blockquote:before {
    content: '\201C';
    font-size: 5em;
    font-family: arial;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.author {
    font-size: 0.9em;
    margin-top: 35px;
}

.author img {
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
}


/* ---------------------*/


/*PLAN SECTION*/


/* ---------------------*/

.plan-section {
    background-color: #f4f4f4;
}

.plan-box {
    background-color: white;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 2px 5px #e3e3e3;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-box div:last-of-type {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 2em;
    padding-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
    text-align: center;
}

.plan-price span {
    font-size: 0.3em;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 0.8em;
    text-align: center;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}


/* ---------------------*/


/*FORM SECTION*/


/* ---------------------*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    border-radius: 5px;
    padding: 7px;
    border: 1px solid #ccc;
}

textarea {
    height: 150px;
}

input[type=text]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid #e67e22;
    box-shadow: 0 0 10px #e67e22;
}